*{
    font-family:"handlee";
    background-color: #FFFFF1;
   
}

/* Header Styles */

.header, #name, #name p, #nav , #nav li, a {
    background-color: darksalmon;
}

#name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 200px;
    margin: 0;
    padding:0;
    display:inline-block;

}

#nav{
    text-align: right;
    width: 300px;
    display: inline-block;
    margin-left: 800px;
    /* float: right; */
}

#nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

#nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 25px;
}


/* Banner Styles */

h1 {
    font-size: 100px;
    text-align: center;
    padding: 0;
    margin: 0;    
}


img {
    border: 2px;
    width: 100%;
    max-width: 300px;
    min-width: 50px;
    padding: 0;
    margin: 0;
    display:inline-block;
   
}

span.hero {
    font-size: 30px;
    width: 500px;
    text-align: center;
    height: 100px;
}


/* Personal Info Section Styles */

.personal-info{
    color: blue;
    font-style: italic;
    font-family: "Handlee";
    font-weight: bold;
    border-style: solid;
    background-color:lightgrey;
    
}

ul.personal-info {
    font-size: 30px;

}

/* More Info Section Styles */
.more-info {
color: light-green;
font-weight: bold;
font-family: san serif;
font-style: italic;
border-style: dashed;
}


/* Let's Connect Styles */
#container-contact{
    display: grid;
    grid-template-columns: auto auto;  
    padding: 10px;
}

.contact-info{
    display:inline-block;
    width:400px;
    margin-left: 200px;
    text-align: left;
}

#form {
    display:inline-block;
    text-align:left;
    width: 560px;
    height: 425px;
    margin: 10px 100px;
    border: 3px solid black;
    padding: 0;
}

#contact-me{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    /* border: 1px solid black; */

}

label {
    text-align: left;
    font-family: "Handlee";
    font-size: 20px;
    font-weight: bold;
}

input {
    margin-bottom: 20px;
    font-family: "Handlee";
    font-size: 20px;
    width: 500px;
}

/* HOW DO I MAKE THE MESSAGE START AT THE TOP AND NOT IN THE MIDDLE? */
#message {
    height: 150px;
    
}

#submit-button{
    background-color: white;
    color: black;
    font-family: "Handlee";
    font-size: 20px;
}

#submit-button:hover {
    background-color: rgb(179, 182, 185);
}